<ion-header-bar class="header">
	<h1 class="title"><img data-ng-src="{{logo}}" alt="Logo"></h1>
</ion-header-bar>

<ion-content>
	
	<div class="list card">
		<div class="item item-divider">
			<h3>Developer</h3>
		</div>
		  <div class="item item-avatar" id="developerTop">
   			<img data-ng-src="{{meTH}}" alt="Michel Beaubien">
    		<h2>Michel Beaubien</h2>
    		<p>Web / Mobile Developer</p>
  		</div>

  		<div class="item item-body row responsive-md" id="devHolder">
          <img id="myImg" data-ng-src="{{meLG}}" alt="Michel Beaubien">
          <ion-slide-box on-slide-changed="slideHasChanged($index)" id="myList">
          <ion-slide data-ng-repeat="list in lists">
            <div class="box item-text-wrap">
              <span class="NUM">{{list.num}}</span>
                <object data-ng-data="{{list.SVG}}">
                  <img data-ng-src="{{list.PNG}}" alt="List Item">
                </object>
              <p>{{list.plan}}</p>
            </div>
          </ion-slide>
          </ion-slide-box>
  		</div>

  		<div class="item item-divider item-text-wrap" id="responsiveText">
  			<p>EASY EATS is a responsive website. From mobile to desktop, no matter where you may be, Easy Eats will always be at your finger tips.</p>
  			<img data-ng-src="{{responsive}}" alt="Responsive Design">
  		</div>
	</div>

</ion-content>