<ion-header-bar class="header">
	<h1 class="title"><img data-ng-src="{{logo}}" alt="Logo"></h1>
</ion-header-bar>

<ion-content>
	
	<div class="card">
		<div class="item item-divider">
			<h3>Features</h3>
		</div>
	</div>

	<ion-slide-box on-slide-changed="slideHasChanged($index)" id="features">
  		<ion-slide>
    		<div class="box">
    			<object data="img/features/money.svg">
					<img data-ng-src="img/features/money.png" alt="Wallet">
				</object>
				<h2>Budget</h2>
				<ul>
					<li>Enter Money</li>
					<li>Wait for Results</li>
					<li>Eat Where You CAN Eat</li>
				</ul>
    		</div>
    	</ion-slide>

    	<ion-slide>
    		<div class="box">
    			<object data="img/features/location.svg">
					<img data-ng-src="img/features/location.png" alt="Geolocation">
				</object>
				<h2>Geolocation</h2>
				<ul>
					<li>Find Your Position</li>
					<li>Use Position to Find Restaurants</li>
					<li>Decide Where You WANT to Go</li>
				</ul>
    		</div>
    	</ion-slide>

    	<ion-slide>
    		<div class="box">
    			<object data="img/features/favs.svg">
					<img data-ng-src="img/features/favs.png" alt="Favorites">
				</object>
				<h2>Favorites</h2>
				<ul>
					<li>Craving Something Different?</li>
					<li>Easy Eats Will Fine Tune Results</li>
					<li>Enjoy the Food YOU Want</li>
				</ul>
    		</div>
    	</ion-slide>

	</ion-slide-box>

</ion-content>