<ion-header-bar class="header bar-header">
	<h1 class="title"><img data-ng-src="{{logo}}" alt="Logo"></h1>
</ion-header-bar>

<ion-content>

<ion-slide-box on-slide-changed="slideHasChanged($index)" id="homeCard">
	<ion-slide class="card">
		<div class="box">
			<div class="item item-divider item-icon-right">
				<h3>What is Easy Eats?</h3>
				<i class="icon ion-information"></i>
			</div>
			<div class="item item-text-wrap">
				<p>Easy Eats is a food finding app. It takes your entered budget along with your location &amp; it returns to you results of restaurants in your area. Those restaurants will match your budget and <span class="bold">ONLY</span> show you food in which you can afford.</p>
			</div>
		</div>
	</ion-slide>

	<ion-slide class="card">
		<div class="box">
			<div class="item item-divider item-icon-right">
				<h3>How It Works?</h3>
				<i class="icon ion-help"></i>
			</div>
			<div class="item item-text-wrap">
				<p><span class="bold EX">Example</span> If you've entered $10.00, Easy Eats will only show you results of where you <span class="bold">CAN</span> afford to eat. It's quick, &amp; it's personal. Easy Eats has a 'Cravings' option where you can choose to filter your searches with finer results. You're craving some Italian food? Let Easy Eats know!</p>
			</div>
		</div>
	</ion-slide>

	<ion-slide class="card">
		<div class="box">
			<div class="item item-divider item-icon-right">
				<h3>Where To Find It?</h3>
				<i class="icon ion-android-search"></i>
			</div>
			<div class="item item-text-wrap">
				<p>Easy Eats is a responsive website. No matter which device you are using, from mobile phones to tablets, Easy Eats will <span class="bold">ALWAYS</span> be at your fingertips, and be there for you when you are feeling hungry.</p>
			</div>
		</div>
	</ion-slide>
</ion-slide-box>

</ion-content>