<ion-header-bar class="header bar-header">
	<h1 class="title"><img data-ng-src="{{logo}}" alt="Logo"></h1>
</ion-header-bar>

<ion-content>

		<div class="card">
			<div class="item item-divider">
				<h3>What is Easy Eats?</h3>
			</div>
			<div class="item item-text-wrap">
				<p>Easy Eats is a food finding app, where I take your entered budget along with your location &amp; I give you results of restaurants in your area. Those restaurants will match your budget and ONLY show you food in which you can afford.</p>
			</div>
			<div class="item item-divider">
				How It Works?
			</div>
			<div class="item item-text-wrap">
				<p>Example: If you've entered $10.00, Easy Eats will only show you results where you CAN afford to eat. It's quick, &amp; it's personal. Easy Eats has a 'Cravings' option where you can choose to filter your searches with finer results. You're hungry for a sub, Easy Eats will show you where to get a delicious sub.</p>
			</div>
			<div class="item item-divider">
				Where To Find Easy Eats?
			</div>
			<div class="item item-text-wrap">
				<p>Easy Eats is a responsive website. From mobile to desktop, no matter where you may be, Easy Eats will always be at your finger tips.</p>
			</div>
		</div>

</ion-content>