<ion-header-bar class="header">
	<h1 class="title"><img data-ng-src="{{logo}}" alt="Logo"></h1>
</ion-header-bar>

<ion-content>

		<div class="card">
			<div class="item item-divider">
				<h3>Technologies</h3>
			</div>
			<div class="item item-text-wrap">
				<p>When it comes to building EasyEats, a lot of research goes into it. But there are some major tools involved in this creation. Below are the languages &amp; programs that I used to develope this app.</p>
			</div>

			<div class="item item-divider">
				<h3>Tools</h3>
			</div>

			<ion-slide-box on-slide-changed="slideHasChanged($index)" id="tools">
				<ion-slide data-ng-repeat="tech in techs">
					<div class="box item item-text-wrap">
						<object data="{{tech.SVG}}">
							<img data-ng-src="{{tech.PNG}}" alt="{{tech.Title}}">
						</object>
						<p>{{tech.Desc}}</p>
					</div>
				</ion-slide>
			</ion-slide-box>
		</div>

</ion-content>