body
{
	text-align: center;
	cursor: url('../img/custumCursor.png'), auto;
}

h1,h2,h3,h4,h5,h6,label,button
{
	font-family: 'Lato', sans-serif;
}

p,a,input,select,span
{
	font-family: 'Quicksand', sans-serif;
}

.header img
{
  width:50px;
  margin-top: 5px;
}

.header
{
	background-color: #006699;
}

object
{
	pointer-events: none;
}

img
{
	max-width: 100%;
}

.tabs
{
	background-color: #006699;
}

.tab-item
{
	color: #fff;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #ffcc00;
}

#tools object
{
	max-width: 60px;
}

.card
{
	margin: 0!important;
}

.card h1,.card h2,.card h3,.card h4,.card h5,.card h6
{
	color: #006699;
}

#developerTop p,#developerTop h2
{
	text-align: left;
}

#homeCard p
{
	width: 70%;
	display: block;
	margin: auto;
	font-size: 1em;
}

.ion-information,.ion-help,.ion-android-search
{
	/*font-size: 50px;*/
	color: #006699;
}

.item-divider
{
	padding: 1% 0;
}

.item-divider h3
{
	font-size: 1.5em;
}

#devHolder ul li
{
	text-align: left;
}

#devHolder div
{
	background: rgba(0,102,153,.9);
}

#devHolder img
{
	border-radius: 5px;
}

#devHolder p
{
	color: white;
	margin: 0;
	line-height: 45px;
	font-size: 1.3em;
}

#devHolder ul li
{
	float: left;
	border-bottom: thin solid white;
}

#devHolder ul li:nth-child(7)
{
	border:none;
}

#devHolder ul li:last-child
{
	border: none;
}

#devHolder img
{
	border-radius: 10px;
	border: 2px solid #ffcc00;
}

.NUM
{
	font-size: 2em;
	color: #ffcc00;
}

#features div:first-child
{
	padding-bottom: 0;
}

#features h2
{
	padding: 2% 0;
	font-size: 1.4em;
	background-color: #ffcc00;
}

#features ul li
{
	padding: 4% 0;
	font-size: 1.2em;
	color: #006699;
	border-bottom: thin solid #ccc;
}

#features ul li:first-child
{
	padding-top: 0;
}

#features ul li:last-child
{
	border: none;
	padding-bottom: 0;
}

#responsiveText p
{
	font-size: 1.6em;
	line-height: normal;
	width: 80%;
	display: block;
	margin: auto;
}

#responsiveText img
{
	display: block;
	margin: auto;
	margin-top: 10px;
}




@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .mobile
	{
		display: none;
	}

	#devHolder div
	{
		border-radius: 0!important;
	}

	#homeCard p
	{
		width: 100%;
	}

	.item-divider h3
	{
		font-size: 1em;
	}

	.item-divider
	{
		padding: 2% 0;
	}

	#features ul li
	{
		font-size: 1em;
	}

	#devHolder p
	{
		font-size: 1em;
	}

	#devHolder ul li:nth-child(7)
	{
		border-bottom: thin solid white;
	}

	#responsiveText p
	{
		font-size: 1em;
		width: 90%;
	}

	#responsiveText img
	{
		max-width: 90%;
	}
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {

	#features ul li
	{
		font-size: .9em;
	}
	
	#devHolder p
	{
		font-size: 1em;
	}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}