body
{
	text-align: center;
	cursor: url('../img/custumCursor.png'), auto;
}

h1,h2,h3,h4,h5,h6,label,button
{
	font-family: 'Lato', sans-serif;
}

p,a,input,select,span
{
	font-family: 'Quicksand', sans-serif;
}

.header img
{
  width:50px;
  margin-top: 5px;
}

.header
{
	background-color: #006699;
}

object
{
	pointer-events: none;
}

img
{
	max-width: 100%;
}

.tab-item
{
	color: #006699;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #ffcc00;
    background-color: #006699;
}

#tools object
{
	max-width: 60px;
}

#tools
{
	padding-top: 10px;
}

#tools p
{
	padding: 0 10px;
}

.card
{
	margin: 0!important;
}

h1,h2,h3,h4,h5,h6
{
	color: #006699;
	font-size: 1.2em!important;
}

#developerTop p,#developerTop h2
{
	text-align: left;
}

#homeCard p
{
	width: 70%;
	display: block;
	margin: auto;
	font-size: 1em;
}

#homeCard h3
{
	margin: 0;
}

.ion-information,.ion-help,.ion-android-search
{
	/*font-size: 50px;*/
	color: #006699;
}

.item-divider
{
	padding: 1% 0;
}

.item-divider h3
{
	font-size: 1.5em;
}

#devHolder div
{
	margin: 0;
}

#devHolder ul li
{
	text-align: left;
}

#devHolder img
{
	border-radius: 5px;
}

#myImg
{
	border: 2px solid #006699;
	display: none;
}

#devHolder p
{
	color: #006699;
	margin: 0;
	line-height: 45px;
	font-size: 1.3em;
}

.NUM
{
	display: block;
	font-weight: bold;
	color: #006699;
	font-size: 25em;
	margin-bottom: 10px;
}

#features
{
	margin-bottom: 10px;
}

.slider-pager-page {
  color: #006699 !important;
}

.slider-pager-page.active {
  color: #ffcc00!important;
}

.slider
{
	padding-bottom: 50px;
}

#features h2
{
	padding: 1.5% 0;
	background-color: #ffcc00;
	color: #006699;
	margin-bottom: 10px;
}

#features ul li
{
	padding: 3% 0;
	color: #006699;
	border-bottom: thin solid #ccc;
}

#features ul li:first-child
{
	padding-top: 0;
}

#features ul li:last-child
{
	border: none;
	padding-bottom: 0;
}

#screenShots
{
	margin-top: 10px;
}

#responsiveText p
{
	font-size: 1.6em;
	line-height: normal;
	width: 80%;
	display: block;
	margin: auto;
}

#responsiveText img
{
	display: block;
	margin: auto;
	margin-top: 10px;
}

.bold
{
	color: #006699;
	font-weight: bold;
}

.EX
{
	display: block;
}



@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .mobile
	{
		display: none;
	}

	#devHolder div
	{
	  border-radius: 5px;
	}

	#homeCard p
	{
		width: 100%;
	}

	.item-divider h3
	{
		font-size: 1em;
	}

	.item-divider
	{
		padding: 2% 0;
	}
	
	#features ul li
	{
		font-size: 1.2em;
	}

	#devHolder p
	{
		font-size: 1em;
	}

	#devHolder ul li:nth-child(7)
	{
		border-bottom: thin solid white;
	}

	#responsiveText p
	{
		font-size: 1em;
		width: 90%;
	}

	#responsiveText img
	{
		max-width: 90%;
	}
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {

	#features ul li
	{
		font-size: .9em;
	}
	
	#devHolder p
	{
		font-size: 1em;
	}

}

/*My Phone*/
@media only screen and (max-width: 240px) {
#myImg
	{
		display: block;
		width: 70%;
		margin: auto;
		margin-bottom: 10px;
	}
}

/*Android*/
@media only screen and (min-width:241px) and  (max-width: 266px) {
#myImg
	{
		display: block;
		width: 70%;
		margin: auto;
		margin-bottom: 10px;
	}
}

/*iPhone4*/
@media only screen and (min-width: 267px) and (max-width: 320px) {
  #myImg
	{
		display: block;
		width: 70%;
		margin: auto;
		margin-bottom: 10px;
	}
}




